{% extends 'index.html' %}

    {% block content %}

        <h1> WATER QUALITY DATA </h1>
        {% if formset %}
          
            <form action ='/water_quality/' method='post'>
            {% csrf_token %}
                {% for fields in forms %}

                    {{ fields.label_tag }} {{fields}} <br>

                {% endfor %}
                    {% for row in formset %}
                
                       {{row}} <br><br>

                    {% endfor %}
                <input type="submit" value="Save Data">
            </form>

        {% else %}
        
            <form action ='' method='post'>
            {% csrf_token %}
                
                {% for fields in forms %}

                {{ fields.label_tag }} {{fields}} <br>
        
                {% endfor %}

            <input type="submit" value="Start Submitting Data">
            </form>
        {% endif %}
        
    {% endblock %}
